body {
    background-image: url('https://i.pinimg.com/736x/ac/54/a1/ac54a128942c750799c2c1fe144d2467.jpg');
    background-size: cover;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}
.card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    text-align: center;
    width: 400px;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    margin-top: 5px;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.p{
    color: violet;
}
h2{
    color: darkorchid;
}